<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034187512005-2rbi9gl7qhevupq4qsakrhk2v9h40gqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034187512005-2rbi9gl7qhevupq4qsakrhk2v9h40gqd</string>
	<key>API_KEY</key>
	<string>AIzaSyCE87qbK7f2zvZiBSZVPMGWGXc7fDybxFg</string>
	<key>GCM_SENDER_ID</key>
	<string>1034187512005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.petmily.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twittertutorial-373cd</string>
	<key>STORAGE_BUCKET</key>
	<string>twittertutorial-373cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034187512005:ios:78282eebe9c40e51d578ac</string>
	<key>DATABASE_URL</key>
	<string>https://twittertutorial-373cd.firebaseio.com</string>
</dict>
</plist>